.projects {
  padding: 100px 10%;
  background: #0f172a;
  color: white;
}

.projects-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 18px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.project-card:hover {
  transform: translateY(-8px);
  border: 1px solid #38bdf8;
}

.project-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.project-description {
  font-size: 15px;
  color: #cbd5f5;
  margin-bottom: 20px;
  line-height: 1.6;
}

.project-tech {
  display: block;
  margin-bottom: 15px;
  color: #38bdf8;
  font-size: 14px;
}

.project-card a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.project-card a:hover {
  color: #38bdf8;
}
